@import "tailwindcss";

@layer components {
  .custom-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;

    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 640px;
    }

    @media (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 768px;
    }

    @media (min-width: 1024px) {
      padding-left: 3rem;
      padding-right: 3rem;
      max-width: 1024px;
    }

    @media (min-width: 1280px) {
      padding-left: 4rem;
      padding-right: 4rem;
      max-width: 1280px;
    }

    @media (min-width: 1536px) {
      padding-left: 5rem;
      padding-right: 5rem;
      max-width: 1480px; 
    }
  }
}

@layer utilities {
  .no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .no-arrow::-ms-expand {
    display: none;
  }
}

.dynamic-svg-wrapper svg {
  width: 100% !important;
  height: 100% !important;
  display: block;
}